*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.root{
    min-height: 100vh;
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section{
    width: 30rem;
    height: 13rem;
    border-radius: 1rem;
    border: 2px solid royalblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: #fff;
    box-shadow: 0px 10px 30px -2px rgba($color: #000000, $alpha: 0.13);
    margin-bottom: 3rem;
    h2{
        text-align: center;
    }
    input{
        font-size: 1.2rem;
        padding: 10px 1rem;
        outline: none;
        border: 1px solid royalblue;
        border-radius: 5px;
    }
    button{
        padding: 10px 1rem;
        border: 1px solid royalblue;
        background-color: royalblue;
        border-radius: 5px;
        font-size: 1.2rem;
         text-transform: uppercase;
         letter-spacing: 2px;
         font-weight: bold;
         cursor: pointer;
         color: #fff;
    }
}
.taskform{
    width: 30rem;
    height: 19rem;
    border-radius: 1rem;
    border: 2px solid royalblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: #fff;
    box-shadow: 0px 10px 30px -2px rgba($color: #000000, $alpha: 0.13);
    h2{
        text-align: center;
    }
    input{
        font-size: 1.2rem;
        padding: 10px 1rem;
        outline: none;
        border: 1px solid royalblue;
        border-radius: 5px;
    }
    button{
        padding: 10px 1rem;
        border: 1px solid royalblue;
        background-color: royalblue;
        border-radius: 5px;
        font-size: 1.2rem;
         text-transform: uppercase;
         letter-spacing: 2px;
         font-weight: bold;
         cursor: pointer;
         color: #fff;
    }
    select{
        height: 2.7rem;
    }
}
.sectionList{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    border-top: 1px solid royalblue;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    position: relative;
    gap: 10px;
    padding: 1rem;
    &__section{
        padding: 1rem;
        background-color: #eee;
        height: auto;
        min-height: 100%;
        border-radius: 1rem;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &__heading{
            border-bottom: 1rem;
        }
        &__task{
            width: 100%;
            padding: 10px;
            min-height: 10rem;
            background-color: #fff;
            margin-bottom: 1rem;
        }
    }
}